* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: whitesmoke;*/
    background-color: #080808;
    color: whitesmoke;
}
h3 {
    text-align: center;
}
h2 {
    text-align: center;
}
.container {
    margin: 5px auto;
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border: 2px solid;
    /*border-color: rgb(75, 74, 74);*/
    border-color: #d7d7d9;
    border-radius: 45px;
    justify-self: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 375px;
    width: 700px;
    font-size: 20px;

}
.container > form > .two > input {
    width: 60%;
    padding: 4px 8px;
    margin: 8px 0;
    display: inline-block;
    /*border: 1px solid rgb(75, 74, 74);*/
    border-color: #d7d7d9;
    color: whitesmoke;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
}
.container > form > .four > textarea {
    border-radius: 5px;
    font-size: 15px;
    color: whitesmoke;
    /*border-color: rgb(75, 74, 74);*/
    border-color: #d7d7d9;
    margin: 8px 0;
    padding: 2px 2px;
}
.container > form > .five > button {
    /*background-color: #6e93e4;*/
    background-color: whitesmoke;
    color: #080808;
    padding: 10px 16px;
    margin: auto;
    width: 25%;
    justify-items: center;
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
}