* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(124, 169, 221);
}
.page_title{
    text-align: center;
}
.image_wrapper{
    position: relative;
    border: 2px solid black;
    width: 80%;
    height: 40%;
    margin: 0 auto;
    display: block;
}
.main_image{
    margin: 0 auto;
    display: block;
    opacity: .8;
}
.title_name{
    position: absolute;
}
.intro{
    position: absolute;
}